extends ../index

block adminContent
  #articles
    .header
      h1 Create Article
    
    .creation
      form(name='create')
        label(for='title') Titel
        input#title(type='text' name='title' placeholder='Titel eingeben')
        label(for='slug') Slug
        input(type='text' name='slug' placeholder='Slug eingeben')
        label(for='category') Kategorie
        select(name='category')
          each category in categories
            option(value=category.name.toLowerCase())= category.name
        label(for='content') Artikeltext
        textarea(cols='50' rows='15' name='content' placeholder='Hier kommt der Artikeltext')
        input(type='submit' value='Create')
        a.button.cancel(href='../') Cancel
        .clearfix