extends ../index

block adminContent
  #articles
    .header
      h1 Create Article

    .creation
      .alert
      form(name='create')
        label TopElement / Media
        div.mediaChooser
          label(for='topelement')
            span
              span.glyphicon.glyphicon-cloud-upload
              br
              span Upload
          input#topelement(type='file' name='mediaUpload' placeholder='Mediendatei hochladen')
          label(for='choose')
            span
              span.glyphicon.glyphicon-folder-open
              br
              span Choose
          input#choose(type='button' name='choose' value='Choose...')
          .clearfix
        div.mediaElement
          div.imageContainer
            img(src='')
            span.iconContainer
              a.glyphicon.glyphicon-remove-circle(href='javascript:void(0);')
          div.inputContainer
            input(type='text' name='mediaName' placeholder='Mediennamen eingeben')
            input(type='text' name='mediaCaption' placeholder='Medienbeschreibung eingeben')
          .clearfix
        label(for='title') Titel
        div.error
        input#title(type='text' name='title' placeholder='Titel eingeben')
        label(for='slug') Slug
        div.error
        input#slug(type='text' name='slug' placeholder='Slug eingeben')
        label(for='category') Kategorie
        div.error
        select#category(name='category')
          each category in categories
            option(value=category.name.toLowerCase())= category.name
        label(for='content') Artikeltext
        div.error
        textarea#articleContent(cols='50' rows='15' name='content' placeholder='Hier kommt der Artikeltext')
        .buttonGroup
          a.button.cancel(href='../') Cancel
          input.button(type='submit' value='Create')
        .clearfix