extends ../index

block adminContent
  #articles
    .header
      h1.pull-left Articles
      a.create.pull-right(href='create/')
        span.glyphicon.glyphicon-plus
      .clearfix

    .list
      table
        thead
          tr
            th Active
            th Date
            th Category
            th Title
            th

        tbody
          - var i = 1;
          each article in articles
            tr
              td
                input.toggle(type='checkbox' id='activeToggle'+i+'' data-id=article._id checked= article.active ? 'checked' : undefined)
                label(for='activeToggle'+i)
              td= article.createdDate
              td= article.category
              td= article.title
              td.options
                a.edit(href='edit/'+article._id+'/')
                  span.glyphicon.glyphicon-pencil
                a.delete(href='delete/'+article._id+'/')
                  span.glyphicon.glyphicon-remove
            - i++;