extends ../layout

block content
  #admin
    h1 Admin Homepage
    form(method='post', enctype='multipart/form-data', action='/api/media')
      input(type='file', name='mediaUpload')
      input(type='submit')