extends skeleton

block content
  .wrapper
    #sidebar
      #admin-logo-container
        #small-logo

      nav
        ul
          each value, key in navigation
            li(class= type === key ? 'active' : '')
              a(href=value.url)
                span(class='glyphicon glyphicon-'+value.icon)
                span= value.name
              span.right-edge

    #content
      nav.navbar.navbar-fixed-top
        .container-fluid
          .user-nav.pull-right
            a(href='/admin/logout/')
              span.glyphicon.glyphicon-off

      .container-fluid
        .row
          section.col-lg-12
            block adminContent
