extends skeleton

block content
  #login
    .loginContainer
      .logoContainer
        .logo
          
      form(name='login')
        //- label(for='email') E-Mail
        input(type='email' name='email' placeholder='E-Mail')
        //- label(for='password') Password
        input(type='password' name='password' placeholder='Password')
        input(type='submit' value='Login')
        .clearfix