// $darkGreen: #6D9A5E

$green: #8AB57B
$orange: #F8B235
$blue: #3DA8DB
$red: #BC2E42

$lightGrey: #F0F0F0
$darkerGrey: #A1A1A1

// Admin

$lighterGrey: #7B7B7B
$darkGrey: #3F3F3F
$borderGrey: #DADADA
$lightGreen: #8AB57B
$darkGreen: #659057

$buttonHover: #90C07F