=creation
  .creation, .edit
    .alert
      display: none
      
    form
      select
        display: block

    #uploadZone
      width: 600px
      height: 300px
      // background-color: #f0f0f0
      margin: 32px auto
      border: 2px dashed $lightGreen
      position: relative

      &.dragOver
        padding: 20px
        border: 2px solid $lightGreen
        background-color: rgba(138, 181, 123, 0.1)

      .uploadButtonContainer
        width: 184px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        label
          float: none

        p
          text-align: center

    .mediaChooser
      margin: 0 auto
      width: 400px
      border: 1px solid $darkGreen
      padding: 10px

      input
        display: none
      
      label
        width: 184px
        float: left
        margin: 0
        background-color: $lightGreen
        height: 80px
        text-align: center
        cursor: pointer

        &:first-child
          margin-right: 10px

        &:hover
          background-color: $buttonHover

        >span
          position: relative
          color: white
          top: 12px

          span
            &:first-child
              font-size: 30px

    .mediaElement
      display: none
      margin: 10px 0

      .imageContainer,
      .inputContainer
        float: left

      .imageContainer
        position: relative
        width: 30%

        &:hover
          .iconContainer
            display: block

        img
          position: relative
          width: 100%
          padding-right: 10px

        .iconContainer
          display: none
          position: absolute
          background-color: black
          bottom: 0
          right: 10px
          padding: 4px 6px

          .glyphicon
            color: white
            font-size: 20px
            vertical-align: sub

      .inputContainer
        width: 70%

        input
          margin: 0 0 10px 0

  .edit
    .mediaElement
      display: block
