form
  background-color: white
  padding: 16px 20px
  border-top: 2px solid $lightGreen
  border-bottom: 1px solid #dadada

  input, select, textarea
    margin: 5px 0 5px 0

  input, textarea
    display: block
    width: 100%
    padding: 8px
    border: 1px solid #ccc
    background-color: white
    outline: 0

    &:focus
      border: 1px solid $darkGreen
      box-shadow: 0px 0px 2px $lightGreen
      transition: border 400ms ease-out, box-shadow 400ms ease-out

  select
    display: block

  input[type='text'],
  select
    margin-bottom: 10px

  a.button,
  button,
  input[type='button'],
  input[type='submit']
    margin: 16px 0 8px 0
    float: right

  a.button
    margin-right: 10px