doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
  body
    .container
      #logo-container
        a(href='#')
          #logo.center-block
          h1
            span.green Melon
            span.orange Beach
            span.blue Blog

      block content